body {
    text-align: center;
    margin-top: 100px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


h1 {
    position: relative;
    bottom: 90px;
    right: 465px;
    color: #f05945;
    font-weight: bolder;
    font-size: 46px;
}

#notice {
    position: relative;
    top: 375px;
    right: 455px;
    color: black;
}

#line {
    border-bottom: 1px solid #aaa;
    position: relative;
    top: -150px;
}

nav {
    position: relative;
    padding: 5px;
    width: 400px;
    font-size: 23px;
    color: black;
    bottom: 75px;
}

#home-bttn:hover {
    font-weight: bolder;
}

#appt-bttn:hover {
    font-weight: bolder;
}

#stylist-bttn:hover {
    font-weight: bold;
}

#about-bttn:hover {
    font-weight: bolder;
}


a {
    text-decoration: none;
    color: black;
}


.form-container {
    position: relative;
    top: -395px;
    left: 700px;
    width: 400px;
    font-size: 20px;
    
}

#first-name {
    border-radius: 10px;

}

#last-name {
    border-radius: 10px;

}

#email {
    border-radius: 10px;

}

#hairdressers {
    border-radius: 10px;

}

#services {
    border-radius: 10px;

}

input[type="text"]::placeholder {    
    text-align: center;
    
}

img {
    width: 300px;
    position: relative;
    right: 500px;
}

#create-button {
    width: 200px;
    font-size: 19px;
    border-radius: 50px;
}

#create-button:hover {
    background-color: rgb(78, 94, 124);
}

