body {
    text-align: center;
    background-color: rgb(61, 58, 58);
}

h1 {
    text-align: left;
    font-size: 45px;
    position: relative;
    color: lightseagreen;
    left: 55px;
    font-weight: bold;
}

nav {
    text-align: left;
    position: relative;
    left: 55px;
    top: 50px;
    width: 350px;
    font-size: 18px;
}

button {
    display: block;
    line-height: 2.5em;
    border: none;
    font-size: 18px;
    color: lightseagreen;
    background-color: rgb(61, 58, 58);
}

button:hover {
    font-weight: bolder;
}

#admin-appt-bttn {
}

#create-appointment-form {
    display: none;
    position: relative;
    bottom: 335px;
    background-color: lightseagreen;
    width: 500px;
    left: 580px;
    opacity: 80%;
    filter: brightness(125%);
    border-radius: 15%;
    height: 475px;
    font-size: 20px;
}

input {
    text-align: center;
}

#hairdresser {
    width: 177px;
}

.form-inputs {
    background-color: rgb(61, 58, 58);
    color: lightseagreen;
    text-align: center;
}

::placeholder {
    color: lightseagreen;
}

#form-container {
    font-size: 18px;
    display: block;
    position: relative;
    color: lightseagreen;
    bottom: 265px;
    left: 550px;
    width: 300px;
}

.form-inputs {
    display: block;
    text-align: center;
}

#renderNewAppointment {
    color: lightseagreen;
    display: block;
    position: relative;
    bottom: 105px;
}

#hairdresserContainer {
    display: none;
    position: relative;
    bottom: 140px;
    color: lightseagreen;
    width: 300px;
    left: 600px;
    bottom: 269px;
    font-size: 18px;
}

img {
    width: 200px;
    height: 200px;
    position: relative;
    bottom: 300px;
}