body {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 35px;
    position: relative;
}

nav {
    text-align: left;
    position: relative;
    left: 55px;
    width: 350px;
}

button {
    display: block;
    line-height: 2.5em;
    border: none;
}

button:hover {
    font-weight: bolder;
}


#appointment-container {
    display: none;
}

#hairdresser-container {
    display: none;
}